<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dbms</title>
    <base href="/" />
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="nav-box1">
                <div class="logo1"><img src="img/mainlogo.svg" alt=""></div>
            </div>
            <a class="uni" href="#">UniTrack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active l1 l" aria-current="page" href="index.hbs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link l2 l" href="about.hbs">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link l5 l" href="roadmaps.hbs">Roadmaps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link l5 l" href="contactUs.hbs">Contact Us</a>
                    </li>
                    <li class="nav-item btn1">
                        <a class="nav-link " href="login.hbs">Log In</a>
                    </li>
                    <li class="nav-item btn2">
                        <a class="nav-link " href="signup.hbs">Sign Up</a>
                    </li>


                </ul>
                <!-- <form action="/login.html">
                    <button class="btn1">
                        Log In
                    </button>
                </form>
                <form action="/signup.html">
                    <button class="btn2">
                        Sign Up
                    </button>
                </form> -->
            </div>
        </div>
    </nav>
    <!-- <header>
        <nav class="navigation">
            <div class="nav-box1">
                <div class="logo1"><img src="img/mainlogo.svg" alt=""></div>
                <h2>UniTrack</h2>
            </div>
                <div class="nav-box2">
                    <ul>
                        <li> <a class="l1 l" href="/index.html">Home</a> </li>
                        <li> <a class="l2 l" href="/about.html">About</a> </li>
                        <! <li> <a class="l3 l" href="/semesters.html">Semesters</a></li> -->
    <!-- <li> <a class="l4 l" href="/community.html">Community</a></li> -->
    <!-- <li> <a class="l5 l" href="/contact.html">Contact us</a> </li>
                    </ul>
                </div>
                <div class="nav-box3"> -->
    <!-- <div class="searchbar"> -->
    <!-- <input class="inputnav" type="text" placeholder="Search here!!"> -->
    <!-- <button type="submit" class="searchbar1"><i class="fa fa-search"></i></button> -->
    <!-- </div> -->
    <!-- <form action="/login.html">
                        <button class="btn1">
                            Log In
                        </button>
                    </form>
                    <form action="/signup.html">
                        <button class="btn2">
                            Sign Up
                        </button>
                    </form>
                </div>

        </nav>
    </header> -->
    <main>
            <div class="container1">
                <div class="boxa">
                    <h6>LEARN EFFICIENTLY</h6>
                    <P class="mainboxa">Welcome to your</P>
                    <P class="mainboxa">one stop</P>
                    <P class="mainboxa">destination for</P>
                    <P class="mainboxa">managing online</P>
                    <P class="mainboxa">college</P>
                    <button class="btnmain1">GET STARTED </button><span class="logo2"><img src="img/logo.png"
                            alt=""></span><span class="dem">PLAY DEMO</span>
                </div>
                <div class="img1">
                    <img src="img/LandingPageImg-nobg.png" alt="">
                </div>
            </div>
        
        <div class="container2">
            <div class="heading2">
                <p class="heading2a">Learning made simple</p>
            </div>
            <div class="bigbox">
                <div class="box">
                    <div class="imgbox">
                        <img src="img/Group_1.png" alt="">
                    </div>
                    <div class="boxpara">
                        <p>Access notes </p>
                        <p>easily</p>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <img src="img/Group_2.png" alt="">
                    </div>
                    <div class="boxpara">

                        <p>Keep track of </p>
                        <p>class schedule</p>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <img src="img/Group_3.png" alt="">
                    </div>
                    <div class="boxpara">

                        <p>Finish task on</p>
                        <p>time</p>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <img src="img/Group_4.png" alt="">
                    </div>
                    <div class="boxpara">

                        <p>Roadmaps </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="circle3">
                <div class="circlea circlea1">
                    <p class="num">1</p>
                </div>
                <div class="circlea circlea2">
                    <p class="num">2</p>
                </div>
                <div class="circlea circlea3">
                    <p class="num">3</p>
                </div>
                <div class="circlea circlea4">
                    <p class="num">4</p>
                </div>
            </div>
            <div class="rect rect1">
                <div class="rectboxa">
                    <img src="img/Group_1.png" alt="">
                </div>
                <div class="rectboxb">
                    <h1 class="trt">Access notes easily</h1>
                    <p class="trtpara">

                        Ever had a hard time scrolling through Whatsapp looking for that one document your teacher sent
                        last month right before the exams? Only to find out, it was actually uploaded on Google
                        classroom. Don’t worry we’ve got you. UniTrack provides you notes of all your courses this
                        semester in one place. From PDFs to Books, now you can study for the exam without any worries
                        about looking for notes at the end moment.</p>
                </div>
            </div>
            <div class="rect rect2">
                <div class="rectboxa">
                    <img src="img/Group_2.png" alt="">
                </div>
                <div class="rectboxb">
                    <h1 class="trt">Keep track of class schedule</h1>
                    <p class="trtpara">

                        Add your timetable along with the google meet links on your profile so that you can join all
                        your classes on time without any hassle. You can also get reminders for your classes so that you
                        don’t miss out on them!</p>
                </div>
            </div>
            <div class="rect rect3">
                <div class="rectboxa">
                    <img src="img/Group_3.png" alt="">
                </div>
                <div class="rectboxb">
                    <h1 class="trt">Finish tasks on time</h1>
                    <p class="trtpara">

                        Forgot to submit the assignment on time? We’ve all been there. To help you with this, on your
                        profile, we provide you with the ‘My Tasks’ section in which you can enter your assignments,
                        exams and upcoming events and set deadlines to keep track of what all tasks you have to finish.
                    </p>
                </div>
            </div>
            <div class="rect rect4">
                <div class="rectboxa">
                    <img src="img/Group_4.png" alt="">
                </div>
                <div class="rectboxb">
                    <h1 class="trt">Roadmaps</h1>
                    <p class="trtpara">
                        Roadmaps are essential tool for tracking process against your objectives.It communicates upcoming work in one view.
                        It can be your guide for prioritizing work , allocating resources , and tracking depedencies.We are here to make your learning easy.

                      </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-between p-4" style="background-color: #ff98a4">
                  <!-- Left -->
                  <div class="me-5">
                        <span>Get connected with us on social networks:</span>
                  </div>
                  <!-- Left -->

                  <!-- Right -->
                  <div class="logoimages">
                        <a class="instagram" style="margin: 0rem 0.5rem" href="https://www.instagram.com" target="_main"
                              id="instalogo">
                              <img src="img/Instagram_logo_2016.svg.png" width="40vw" alt=""></a>
                        <a class="linkedin" style="margin: 0rem 0.5rem" href="https://www.linkedin.com" target="_main"
                              id="linkedinlogo"> <img src="img/LinkedIn_icon_circle.svg.png" width="40vw" alt=""></a>
                        <a class="facebook" style="margin: 0rem 0.5rem" href="https://www.facebook.com" target="_main"
                              id="facebooklogo"> <img src="img/facebook_icon.png" width="40vw" alt=""></a>
                  </div>
                  <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                  <div class="container text-center text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                              <!-- Grid column -->
                              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <!-- Content -->
                                    <h6 class="text-uppercase fw-bold">Unitrack</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          Hello User! , You can use our Website for many of your benefits i.e; Here you
                                          can find Notes, Books, Previous Years Question papers, Roadmaps of different
                                          types of fields like Web and App development etc.
                                    </p>
                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">We Provide</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          <a href="#!" class="text-white">Notes</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Previous Years Question Papers</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Syllabus</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Important Books</a>
                                    </p>

                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          <a href="todos.hbs" class="text-white">Todos</a>
                                    </p>
                                    <p>
                                          <a href="roadmaps.hbs" class="text-white">Roadmaps</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Help</a>
                                    </p>
                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Contact</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p><i class="fas fa-home mr-3"></i>Jamia Milia Islamiya, New Delhi, India</p>
                                    <p><i class="fas fa-envelope mr-3"></i> projectunitrack22@gmail.com</p>
                                    <p><i class="fas fa-phone mr-3"></i>+91 9811964470</p>
                                    <p><i class="fas fa-print mr-3"></i>+91 8957201204</p>
                              </div>
                              <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                  </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                  © 2022 Copyright:
                  <a class="text-white" style="text-decoration: none;">Unitrack.com</a>
            </div>
            <!-- Copyright -->

    </footer>


</body>

</html>
